
.path {
    margin: 80px 0 80px 0;
    display: inline-flex;

    gap: 12px;
    font-family: var(--font-title);
    color: var(--text-color);
}

.path__link {
    text-decoration: none;
    color: var(--text-color);

}



.post-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
    margin-bottom: 140px;
}

.post-top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-top-content h2 {
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: var(--font-medium);
}

.post-top-content p {
    font-size: 15px;
}

.post-top img {
    width: 500px;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.post-item{
    text-align: center;
}

.post-item img {
    width: 300px;

}

.post-item h2 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: var(--font-medium);
}

.post-item p {
    font-size: 13px;
}

.social-media img {
    width: 20px;
    margin-right: 5px;
}