.path {
    margin: 80px 0 80px 0;
    display: inline-flex;
    gap: 12px;
    font-family: var(--font-title);
    color: var(--text-color);
}

.account {
    margin: 50px 0;

}
.edit{
    width: 520px;
    margin:auto;
}
.manage {
    width: 40%;
}

.manage h2 {
    font-size: 18px;
}

.manage-link a {
    display: block;
    margin: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    color: gray;
}

.manage-link a:hover {
    color: red;
}

.edit h2 {
    color: red;
    font-weight: var(--font-medium);
}

.name .miniform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
}

.miniform-group input[type=text] {
    margin: 10px 0;
    height: 25px;
    padding: 5px;
}

.form-group-account input[type=password] {
    display: block;
    width: 450px;
    margin: 15px 0;
    height: 25px;
    padding: 5px;
}

.submit {
    text-align: right;
    display: inline-flex;
    align-items: center;
}

button[type=button] {
    width: 100px;
    height: 35px;
    margin: 20px 10px;
    background-color: white;
    border: 1px solid gray;
}

.submit-account {
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-family: var(--font-title);
    background-color: rgb(232, 89, 89);
    color: white;
    cursor: pointer;
}
.submit-account:hover{
    background-color: var(--primary-color-hover);
    color: var(--text-color);
}
.cancel-submit{
    font-family: var(--font-heading);
    cursor: pointer;
}
.cancel-submit:hover{
    background-color: #BB2F2FFF;
}