:root {
    --primary-color: #db4444;
    --primary-color-hover: #972121;
    /*Text Color*/
    --text-color: #000000;
    --text-color-2: #fafafa;
    --text-color-3: #ffffff;
    /*BG Color*/
    --bg-color: #f5f5f5;
    --bg-color-2: #ffffff;
    --bg-color-3: #000000;
    /*Border Color*/
    --border-color: rgba(0, 0, 0, 0.3);
    --border-color-2: #fafafa;
    /*Font Weight*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    /*Font Family*/
    --font-heading: Inter, san-serif;
    --font-title: Poppins, san-serif;
    --clr-status: #00ff66;
}

ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-m {
    height: 24px;
    width: 24px;
}

.icon-sm {
    width: 16px;
    height: 16px;
}

.icon-l {
    height: 24px;
    width: 24px;
}

.icon-lm {
    width: 32px;
    height: 32px;
}

.icon-xm {
    width: 56px;
    height: 56px;
}

/*===== Section ======*/
.section-header {
    margin: 70px 0 60px;
}

.section-block {
    background-color: var(--primary-color);
    padding: 20px 10px;
    border-radius: 4px;
}

.section-tag {
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.section-tag__title {
    margin: 0 16px;
    font-family: var(--font-title);
    font-weight: var(--font-bold);
}

.section-title {
    display: flex;
    font-family: var(--font-heading);
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}

.section__title {
    font-size: 36px;
}

.section-nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.section__button {
    padding: 16px 48px;
    background-color: var(--primary-color);
    color: var(--text-color-2);
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.section__button:hover {
    transition: 0.3s ease-in-out;
    background-color: var(--primary-color-hover);
}

.section-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.section-footer {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: var(--font-title);
}

.section__link {
    display: inline-block;
    padding: 16px 48px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--text-color-2);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.section__link:hover {
    transition: 0.3s ease-in-out;
    background-color: var(--primary-color-hover);
}

/*===== Button ======*/
.button-nav {
    background-color: var(--bg-color);
    padding: 11px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*===== General ===== */


.wrapper {
    margin: 0 135px;
}

.product-tab {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    margin: 12px;
    top: 0;
    right: 0;
}

.product__img {
    width: 100%;
}

.product__sale {
    margin: 0 0 0 12px;
    /*text-decoration: ;*/
    color: var(--text-color);
    text-decoration: line-through;
}

.product__title {
    color: var(--text-color);
    font-size: 24px;
    font-family: var(--font-heading);
    margin: 0;
}

.product__price {
    color: var(--primary-color);
    font-weight: var(--font-bold);
    font-family: var(--font-heading);
    font-size: 22px;
}

.product-header {
    position: relative;
    overflow: hidden;
}

.product-cart {
    display: block;
    text-align: center;
    background-color: var(--bg-color-3);
    color: var(--text-color-2);
    font-family: var(--font-title);
    padding: 8px 0;
    position: absolute;
    text-decoration: none;
    bottom: -15%;
    width: 100%;
    transition: 0.5s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.product-header:hover .product-cart {
    bottom: 1%;
    transition: 0.3s ease-in-out;
}

.product-tab {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    margin: 12px;
    top: 0;
    right: 0;
}

.product-item {
    background-color: var(--bg-color-2);
    margin: 0 0 8px 0;
    padding: 5px;
    display: inline-flex;
    border-radius: 50%;
    height: 100%;
}

.product-body {
    margin: 16px 0 8px 0;
    font-family: var(--font-title);
}

.product-body a {
    text-decoration: none;
}


.product__rate {
    display: flex;
    margin: 16px 0;
    align-items: center;
    font-family: var(--font-title);
    font-size: 14px;
}

.product__total {
    padding: 0 0 0 8px;
    font-weight: var(--font-bold);
}

  