/*Section*/



/* Header*/
.path {
  margin: 80px 0 80px 0;
  display: inline-flex;

  gap: 12px;
  font-family: var(--font-title);
  color: var(--text-color);
}

/*Product*/
.product-ctsp {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 70px;
  padding-bottom: 70px;
}

.product-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
}

.product-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}



.detail-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-col {
  display: flex;
  flex-direction: column;
}





.product-review {
  padding: 0 16px 0 8px;
}

.product__status {
  padding: 0 0 0 16px;
  color: var(--clr-status);
}


.product__desc {
  font-size: 14px;
  font-family: var(--font-title);
  max-width: 390px;
  line-height: 21px;
}

.detail-function {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 0 40px 0;
  align-items: center;
}

.product-btn {
  display: flex;
  align-items: center;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  padding: 8px 10px;
  display: inline-flex;
  border: 1px solid var(--border-color);
  align-items: center;
  cursor: pointer;
}

.btn-minus {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-add {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-quantity {
  padding: 8px 34px;
  align-self: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-title);
  font-weight: var(--font-medium);
  font-size: 21px;
  border-left: none;
  border-right: none;
  width: 50px;
  text-align: center;
}

.btn-buy {
  padding: 10px 48px;
  border: 1px solid transparent;
  color: var(--text-color-2);
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}

.btn-add-cart {
  font-family: var(--font-title);
  background: var(--primary-color);
  color: var(--text-color-2);
  padding: 12px 10px;
  width: 130px;
  display: inline-flex;
  border: 1px solid var(--border-color);
  font-weight: var(--font-bold);
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.product-deliver {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.deliver-item {
  display: flex;
  gap: 16px;
  color: var(--text-color);
  font-weight: var(--font-medium);
  font-family: var(--font-title);
}

.deliver__title {
  font-weight: var(--font-bold);
  padding: 0 0 8px 0;
}

.deliver__desc a {
  color: var(--text-color);
}

.free-deliver {
  padding: 24px 0 16px 16px;
  border-bottom: 1px solid var(--border-color);
}

.return-deliver {
  padding: 16px 0 24px 16px;
}

/*Relate*/



.product-tab {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
}

.product-relate-item {
  background-color: var(--bg-color-2);
  margin: 0 0 8px 0;
  padding: 5px;
  display: inline-flex;
  border-radius: 50%;
}



.product-body a {
  text-decoration: none;
}



.product-relate__price {
  color: var(--primary-color);
  font-weight: var(--font-bold);
}





.product__total {
  padding: 0 0 0 8px;
  font-weight: var(--font-bold);
}

/*Comment*/
.comment {
  margin: 55px 0 30px 0;
  padding: 20px 0;
  background-color: var(--bg-color);
  /*height: 400px;*/
}

.comment-header {
  padding: 5px 0 0 20px;
  font-family: var(--font-heading);
}

.comment-body {
  padding: 0 45px;
}

.comment-input {
  background-color: var(--bg-color-2);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-rate {
  font-family: var(--font-heading);
  font-weight: var(--font-bold);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.comment__input {
  background-color: var(--bg-color);
  font-family: var(--font-heading);
  font-weight: var(--font-bold);
  display: inline-flex;
  align-items: center;
  padding: 25px;
  width: 700px;
  border: none;
  outline: none;
}

.comment-customer {
  padding: 20px 0 0 0;
  display: flex;
}

.comment-image {
  width: 52px;
  height: 52px;
  display: inline-flex;
  /*border: 1px solid red;*/
  border-radius: 50%;
  background-color: var(--bg-color-2);
}

.comment-image img {
  width: 100%;
  height: 100%;
}

.comment-name {
  display: inline-flex;
  gap: 3px;
  font-weight: var(--font-bold);
  font-family: var(--font-heading);
  align-items: center;
}

.comment-date {
  font-weight: var(--font-regular);
  font-family: var(--font-title);
  font-size: 10px;
}

.comment-rating {
  padding: 4px;
}
